.slides {
  position: relative;

  height: 100vh;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.slide {
  position: relative;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: opacity 1s;

  opacity: 0;
  color: $color-light;
  background: $color-dark;
  &-title {
    position: absolute;
    bottom: 40px;

    display: flex;
    align-items: flex-end;

    margin: 0 0 20px 0;

    font-size: 24px;
  }
  &-image {
    min-width: 100%;
    min-height: 100%;

    background-position: cover;
  }
}

.active {
  z-index: 2;

  opacity: 1;
}
