* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.carousel {
  position: relative;
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide {
  position: relative;
  position: absolute;
  z-index: -999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  color: #eeeeee;
  background: #333333;
}

.slide-title {
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 20px 0;
  font-size: 24px;
}

.slide-image {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.active {
  z-index: 2;
  opacity: 1;
}

.block-controls {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.block-controls .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.block-controls .controls .control {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: rgba(238, 238, 238, 0.5);
}

.block-controls .controls .control-prev:hover {
  color: rgba(238, 238, 238, 0.8);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(6, 6, 6, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(6, 6, 6, 0.8) 8%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(6, 6, 6, 0.8) 8%, rgba(255, 255, 255, 0) 100%);
}

.block-controls .controls .control-next:hover {
  color: rgba(238, 238, 238, 0.8);
  background: -webkit-gradient(linear, right top, left top, color-stop(8%, rgba(6, 6, 6, 0.8)), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(right, rgba(6, 6, 6, 0.8) 8%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(-90deg, rgba(6, 6, 6, 0.8) 8%, rgba(255, 255, 255, 0) 100%);
}

.block-pause {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.block-pause .control-pause {
  position: relative;
}

.block-pause .control-pause span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  color: rgba(238, 238, 238, 0.5);
}

.block-pause:hover {
  opacity: 1;
}

.block-indicators {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.block-indicators .indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.block-indicators .indicators .indicator {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 3px solid rgba(238, 238, 238, 0.8);
  border-radius: 50%;
}

.active {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}
